<h1>Welcome to your dashboard</h1>

<h2>You can view, edit and create your blog posts here</h2>
<br>
{{!-- Getting all the blog posts created by the user currently logged in --}}
{{#each user.blogPosts as |post|}}
<div class="card">
    <div class="card-header">
        <p>Created by you on {{format_date date_created}}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <a href="/blogPost/{{post.id}}" class="btn btn-primary">View Post</a>
        <a href="/updatePost" class="btn btn-primary">Edit Post</a>
        <a href="#" class="btn btn-primary" id="deletePost" data-id="{{post.id}}">Delete Post</a>
    </div>
</div>
{{/each}}
<br>

{{!-- form to create a new blog post --}}
<div class="newPost">
    <h2>Create a new blog post here</h2>
    <br>
    <form class="form newPost-form">
        <div class="form-group">
            <label for="new-title">Title:</label><br>
            <input class="form-input" type="text" id="new-title" />
        </div>
        <br>
        <div class="form-group">
            <label for="new-post">Post:</label><br>
            <textarea name="blogPost" id="new-post" cols="30" rows="10"></textarea>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="createPost">Create post</button>
        </div>
    </form>
</div>

<script src="/js/addPost.js"></script>
<script src="/js/deletePost.js"></script>