<div class="card">
    <div class="card-header">
        <p>Created by you on {{format_date fullPost.date_created}}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{fullPost.title}}</h5>
        <p class="card-text">{{fullPost.post}}</p>
        <a href="#" class="btn btn-primary">Add Comment</a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <p>(user) commented on (date)</p>
    </div>
    <div class="card-body">
        <p class="card-text">Comment</p>
        <a href="#" class="btn btn-primary">Delete Comment</a>
    </div>
</div>