<br>
<h2>Welcome to The Tech Blog! Created by coders for coders</h2>
<br>
{{#each blogPosts as |blog|}}
<div class="card">
    <div class="card-header">
        <p>Created by {{blog.user.name}} on {{format_date date_created}}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <a href="/blogPost/{{blog.id}}" class="btn btn-primary">View Post</a>
    </div>
</div>
{{/each}}