<div class="card">
    <div class="card-header">
        username
    </div>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Showing first line of the blog ... </p>
        <a href="#" class="btn btn-primary">View Post</a>
    </div>
</div>