<div class="loginBox">
    <h2>Login</h2>
    <br>
    <form class="form login-form">
        <div class="form-group">
            <label for="email-login">Email:</label><br>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <br>
        <div class="form-group">
            <label for="password-login">Password:</label><br>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="login">Login</button>
        </div>
    </form>
</div>

<div class="signupBox">
    <h2>Sign up</h2>
    <br>
    <form class="form login-form">
        <div class="form-group">
            <label for="username">Username:</label><br>
            <input class="form-input" type="text" id="username" />
        </div>
        <br>
        <div class="form-group">
            <label for="email-signup">Email:</label><br>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <br>
        <div class="form-group">
            <label for="password-signup">Password:</label><br>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="signup">Sign up</button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>