h1 {
    font-weight: bold;
    color: black;
    margin: 30px;
    padding: 10px;
}

.pagetitle {
    font-size: 20px;
}

/* .container {

} */

.loginBox, 
.signupBox {
    max-width: 50%;
    min-width: 260px;
    border-style: solid;
    float: left;
    margin: 5%;
    padding: 40px;
}

.newPost {
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    float: left;
}

.card {
    margin: 10px;
}
