h1 {
    font-weight: bold;
    color: black;
    margin: 30px;
    padding: 10px;
}

/* .container {

} */

.loginBox, 
.signupBox {
    max-width: 50%;
    min-width: 260px;
    border-style: solid;
    float: left;
    margin: 5%;
    padding: 40px;
}
